{% extends 'portfolio/base.html' %}
{% block title %}À propos - Portfolio Fadil{% endblock %}

{% block content %}
<section class="hero">
    <h2>À propos de moi</h2>
    <p>Je suis Fadil, passionné par le développement web et les énergies renouvelables. J’ai une formation en énergie solaire et je développe aussi des applications web efficaces et modernes.</p>
</section>

<section class="highlights">
    <div class="card">
        <i class="fas fa-user-graduate fa-2x"></i>
        <h3>Formation</h3>
        <p>Bachelor en énergies renouvelables, spécialisé en photovoltaïque.</p>
    </div>
    <div class="card">
        <i class="fas fa-code fa-2x"></i>
        <h3>Développement</h3>
        <p>Création d'applications web en Python avec Django.</p>
    </div>
    <div class="card">
        <i class="fas fa-solar-panel fa-2x"></i>
        <h3>Dimensionnement solaire</h3>
        <p>Outils personnalisés pour simuler des systèmes solaires autonomes.</p>
    </div>
</section>
{% endblock %}
