{% extends 'portfolio/base.html' %}
{% block title %}Mon CV{% endblock %}

{% block content %}
<div class="cv-download text-center p-6 bg-gray-900 text-white rounded-xl shadow-lg">
    <h2 class="text-3xl font-bold mb-6">📄 Mon CV</h2>

    {% if cv %}
        <!-- Aperçu du CV en PDF -->
    <iframe src="https://docs.google.com/gview?url={{ cv_url_absolu }}&embedded=true"
        width="100%" height="400px">
</iframe>


        <!-- Bouton de téléchargement -->
       <a class="btn-download bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded" 
           href="{{ cv.fichier.url }}" 
           download>
            📄 Télécharger le CV
        </a>
    {% else %}
        <p class="text-gray-400">CV non disponible pour le moment.</p>
    {% endif %}
</div>
{% endblock %}
